@font-face {
    font-family: 'Apple Kid';
    src: url('font/Apple-Kid.eot');
    src: url('font/Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('font/Apple-Kid.woff2') format('woff2'),
        url('font/Apple-Kid.woff') format('woff'),
        url('font/Apple-Kid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'renogare';
  src: url('font/renogare.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'terminus_ttfbold';
    src: url('font/terminusttf-bold-webfont.woff2') format('woff2'),
         url('font/terminusttf-bold-webfont.woff') format('woff'),
         url('font/terminusttf-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
  cursor: url("img/icon/Hand-Arrow.cur"), default;
  overflow: hidden;
}

h1, h2 {
  text-align: center;
  font-size: 48px;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 32px;
}

p:not(.left) {
  text-align: center;
}

a:not(.white):active {
  color: yellow;
}

a:not(.white) {
  color: turquoise;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100%;
  background-color: #2F4C39;
  margin: 0;
  z-index: 100;
}

li {
  float: left;
  border-right: 2px solid #bbb;
  margin-right: 5px;
  font-size: 24px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.reno {
  font-family: renogare;
}

.apple {
  font-family: Apple Kid;
}

.oneshot {
  font-family: terminus_ttfbold;
}


.black {
  color: black;
}

.white {
  color: white;
}



nav {
  width : 300px;
  position: absolute;
  color: #d9d9d9;
  top: 58px;
}

span {
  padding : 30px;
  background : #2d2f31;
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: inline-block;
}

.slide {
  width:0px;
  height: 100%;
  overflow: visible;
  text-align: left;
  transition: opacity 0.2s, width 1.5s ease-out;
  transition-delay: 0.1s, 0.5s;
  position: absolute;
  background-image: url("img/background/crumpledpaper.jpg");
  background-size: 1920px 1200px;
  background-clip: border-box;
  display: inline-block;
  opacity: 0;
}

#touch {position: absolute; opacity: 0; width: 0px;}

#touch:checked + .slide {width: 80vw;opacity:1}



.main {
  width: 60vw;
  height: 100vh;
  background-image: url("img/background/oneshot_refuge.png");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-clip: border-box;
  float:left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;


}

.main::-webkit-scrollbar {
  display: none;
}

.secondary {
    width: 40vw;
    height: 100vh;
    background-image: url("img/background/background2.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: right;
    background-clip: border-box;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    border: 0;
  }

  .secondary::-webkit-scrollbar {
    display: none;
  }

#musictoggle {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.content {
  border-radius: 30px;
  margin: 5% 10%;
  padding: 2% 10%;


}



.blueoverlay {
  background: rgba(112, 128, 144, 0.3);
}

.redoverlay {
  background: rgba(144, 128, 112, 0.5);
}

.title {
  margin: 10vh auto;
}

.big {
  font-size: 48px;
}

.small {
  font-size: 24px;
}



#changelog_toggle:checked + #changelog_content {
  width: 60vw;
  opacity: 1;
}

#changelog_content {
  width: 0;
  height: 100vh;
  position: absolute;
  opacity: 0;
  background-image: url("img/background/deltarunebattlebg.gif");
  background-repeat: repeat;
  z-index: 5;
  margin: 0;
  transition: width 2s, opacity 0.5s;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#changelog_content::-webkit-scrollbar {
  display: none;
}

hr {
  border: 2px dashed white;

}
