@font-face {
    font-family: 'Apple Kid';
    src: url('../font/Apple-Kid.eot');
    src: url('../font/Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('../font/Apple-Kid.woff2') format('woff2'),
        url('../font/Apple-Kid.woff') format('woff'),
        url('../font/Apple-Kid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'renogare';
  src: url('../font/renogare.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  cursor: url("../img/icon/Hand-Arrow.cur"), default;
  overflow: hidden;
}

h1, h2 {
  text-align: center;
  font-size: 60px;
  z-index: 2;
}

body {
  margin: 0;
}

p {
  text-align: center;
  font-size: 32px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100vw;
  background-color: #2F4C39;
  margin: 0;
  z-index: 100;
}

li {
  float: left;
  border-right: 2px solid #bbb;
  font-size: 24px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.reno {
  font-family: renogare;
}

.apple {
  font-family: Apple Kid;
}

.black {
  color: black;
}

.white {
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#emulators {
  z-index: 1;
  position: absolute;
  align-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 20vh;
  margin-left: 10vh;
  width: 40%;
  height: 20%;
  background: rgba(127, 80, 50, 0.2);
  border-radius: 50px;
  transition: background 1s, color 0.5s;
  cursor: pointer;
}

#emulators:hover {
  background: rgba(80, 20, 10, 0.8);
  color: #FFFFFF;
}

#rpgmaker {
  z-index: 1;
  position: absolute;
  align-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10vh;
  margin-right: 10vh;
  margin-left: 55%;
  width: 40%;
  height: 15%;
  background: rgba(127, 80, 50, 0.2);
  border-radius: 40px;
  transition: background 1s, color 0.5s;
  cursor: pointer;
}

#rpgmaker:hover {
  background: rgba(80, 20, 10, 0.8);
  color: #FFFFFF;
}

#web_game {
  z-index: 1;
  position: absolute;
  align-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 60vh;
  margin-right: 10vh;
  margin-left: 55%;
  width: 40%;
  height: 15%;
  background: rgba(127, 80, 50, 0.2);
  border-radius: 40px;
  -webkit-transition: background 1s, color 0.5s;
  cursor: pointer;
}

#web_game:hover {
  background: rgba(80, 20, 10, 0.8);
  color: #FFFFFF;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
