@font-face {
    font-family: 'Apple Kid';
    src: url('../font/Apple-Kid.eot');
    src: url('../font/Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('../font/Apple-Kid.woff2') format('woff2'),
        url('../font/Apple-Kid.woff') format('woff'),
        url('../font/Apple-Kid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'renogare';
  src: url('../font/renogare.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  cursor: url("../img/icon/Hand-Arrow.cur"), default;
  overflow: hidden;
}

h1, h2 {
  text-align: center;
  font-size: 48px;
  z-index: 2;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background/deltarunebattlebg.gif");
  background-repeat: repeat;
  background-attachment:scroll;
  transition: background 0.2s;
  z-index: 1;
  overflow-y:scroll;
  overflow-x:hidden;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  text-align: center;
  font-size: 32px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100vw;
  background-color: #2F4C39;
  margin: 0;
  z-index: 100;
}

li {
  float: left;
  border-right: 2px solid #bbb;
  font-size: 24px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.reno {
  font-family: renogare;
}

.apple {
  font-family: Apple Kid;
}

.black {
  color: black;
}

.white {
  color: white;
}

.big {
  font-style: normal;
  font-size: 48px;
}





#musictoggle {
  bottom: 10px;
  left: 10px;
  position: absolute;
}



#yumenikki {
  z-index: 3;
  position: absolute;
  align-content: center;
  margin-top: 10vh;
  margin-right: 10vh;
  margin-left: 55%;
  width: 20%;
  height: 20%;
  border-radius: 40px;
  transition: background 0.1s linear, color 0.5s;
  cursor: pointer;
  background-image: url("../img/yumenikkilogo.png");
  background-clip:border-box;
  background-size: 100% 80%;
  background-repeat:no-repeat;
  background-position: center;
  color: #FFFFFF;
}

#yumenikki:hover {
  background-image: url("../img/yumenikkidocks.gif");
  background-size: cover;
  background-repeat: no-repeat;
}


#off {
  z-index: 3;
  position: absolute;
  align-content: center;
  margin-top: 35vh;
  margin-left: 10%;
  width: 20%;
  height: 20%;
  border-radius: 40px;
  transition: background 0.1s linear, color 0.5s;
  cursor: pointer;
  background-image: url("../img/icon/offlogo_transparent.png");
  background-clip:border-box;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: center;
  color: #FFFFFF;
}

#off:hover {
  background-image: url("../img/background/tvstatic.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#off {
  z-index: 3;
  position: absolute;
  align-content: center;
  margin-top: 35vh;
  margin-left: 10%;
  width: 20%;
  height: 20%;
  border-radius: 40px;
  transition: background 0.1s linear, color 0.5s;
  cursor: pointer;
  background-image: url("../img/icon/offlogo_transparent.png");
  background-clip:border-box;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: center;
  color: #FFFFFF;
}

#off:hover {
  background-image: url("../img/background/tvstatic.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#ib {
  z-index: 3;
  position: absolute;
  align-content: center;
  margin-top: 45vh;
  margin-left: 40%;
  width: 20%;
  height: 20%;
  border-radius: 40px;
  transition: background 0.1s linear, color 0.5s;
  cursor: pointer;
  background-image: url("../img/icon/iblogo_transparent.png");
  background-clip:border-box;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: center;
  color: #FFFFFF;
}

#ib:hover {
  background-image: url("../img/icon/ibrain.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
/*
#yumenikki:hover + .overlay {
  background-color: rgba(20, 20, 20, 0.1);
}
*/



img {
  z-index: 10;
}
